{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AfteriOS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/fd2c1f0f0a.js"
      crossorigin="anonymous"
    ></script>
    {% block extrahead %} {% endblock %}

    <link rel="stylesheet" href="{% static 'app/css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

<body style="overflow-x:hidden; background-color: #90e0ef;">
  <nav class="navbar navbar-expand-lg" style="background-color: #00b4d8;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'app:index' %}" style="font-weight: bold;"><img
          src="https://as1.ftcdn.net/v2/jpg/05/12/50/66/1000_F_512506612_gtoY8IvNuOIBnac4jwGYN3Nx11VMKWoC.jpg"
          alt="Logo" width="50" height="45" class="d-inline-block align-middle" style="margin-right: 10px;">AfteriOS</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
            style="font-weight: bold;" href="{% url 'app:index' %}">Home</a>
          {% if user.is_authenticated %}
          <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
            style="font-weight: bold;" href="{% url 'app:profile' user.id %}">Profile</a>
          <a class="nav-link" href="{% url 'app:createParty' %}" style="font-weight: bold;">Create Party</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% if user.is_authenticated %}
    <a class="nav-link greeting" style="display: inline-flex; width: 150px; align-items: center;" href="{% url 'app:profile' user.id %}">Hi {{ user.username }}!
      {% if not user.is_superuser %}<img src="{{user.avatar_url}}" style="height: 50px; width: 50px; float: right;">{% endif %}</a>
    {% if user.is_superuser %}
    <a class="nav-link" href="/admin">Admin Dashboard</a>
    {% endif %}
    <form action="{% url 'accounts:logout' %}" method="POST" id="logout" class="nav-link logout-form">
      {% csrf_token %}
      <input type="submit" value="Logout" class="logout-btn" />
    </form>
    {% else %}
    <a class="nav-link login-btn" href="{% url 'login' %}">Login</a>
    <a class="nav-link signup-btn" href="{% url 'accounts:signup' %}">Signup</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  {% block content %} {% endblock %}
</body>

</html>
