{% extends 'app/base.html' %}

{% block extrahead %}
{{ form.media }}
{% endblock extrahead %}

{% block content %}
<div class="row">
    <div class="col-md-12 my-4">
        {% if action == 'create' %}
        <h2 class="text-center">Submit new party</h2>
        {% else %}
        <h2 class="text-center">Edit party</h2>
        {% endif %}
    </div>
</div>
<form method="post" accept-charset="utf-8">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8 mx-auto my-4">
            {% include 'includes/bs_form.html' with form=form %}
            <div class="d-inline-flex align-content-between flex-row flex-wrap"
                style="height: 450px; padding-top: 40px;">
                {% for poster in posters %}
                <p class="h5" style="padding: 70px 5px;">poster num {{ poster.id }}:</p>
                <img src="{{ poster.party_url }}" alt="partyImage">
                {% endfor %}
            </div>
            <input type="submit" value="Create" class="btn btn-primary my-3">
        </div>
    </div>


</form>
{% endblock %}