{% extends 'app/base.html' %} {% block content %}
<div class="d-flex justify-content-center">
  <div class="p-2 flex-fill bd-highlight" style="max-width: 500px; margin:20px;">
    <div class="card">
      <img src="{{ party.party_poster_fk.party_url }}" class="card-img-top" alt="..." />
      <h2 class="card-title mt-2" style="margin-left: 10px">{{ party.title }}</h2>
      <h3 class="card-tittle mt-2" style="margin-left: 10px;">
        Opis:
        {{ party.description }}
      </h3>
      <div class="card-body">
        <p class="card-text">
          <img class="rounded-circle" src="{{ party.created_by.avatar_url }}" height="40px" width="40px" />
        <p>
          Host: <a href="{% url 'app:profile' party.created_by.id %}">{{ party.created_by.first_name }} {{ party.created_by.last_name }}</a>
        </p>
        </p>
        <p>Popunjenost:
          {{ party.partyguest_set.count }}/{{ party.total_allowed_guest }}</p>
        <p>
          Početak party-a:
          {{ party.starts_at }}
          <br />
          Vrijeme zatvaranja:
          {{ party.closed_at }}
        </p>
        {% if party.is_finished %}
        <p>Party je završio!</p><br />
        {% if user != party.created_by and user.is_authenticated %}
        <p>Ostavi recenziju:</p>
        <form action="{% url 'app:new_recension' party.id %}" method="post" accept-charset="utf-8"
          style="margin:20px 0px 20px;">
          <div class="d-flex bd-highlight">
            <div class="p-0 flex-grow-1 bd-highlight">
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="text" id="" style="margin-bottom:10px"
                placeholder="Text recenzije" />
            </div>
            <div class="p-1 bd-highlight"></div>
            <div class="p-0 flex-grow-1 bd-highlight">
              <input type="number" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="ocjena" id="" min="1" max="5"
                style="margin-bottom:10px" placeholder="Ocjena" />
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Ocjeni" />
          {% csrf_token %}
        </form>
        {% endif %}
        {% endif %}
        {% if recensions %}
        <h2>Recenzije</h2>
        <ul>
          {% for recension in recensions %}
          <li>{{ recension.user_id.username }}: {{ recension.text }} (Ocjena: {{ recension.rating }})</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Nema recenzija.</p>
        {% endif %}
        {% if user.is_authenticated %}
        {% if party.created_by == user %}
        <p>Ne mozes slati req na svoj party</p>
        {% elif not party_request and party.created_by != user and party.partyguest_set.count < party.total_allowed_guest %} 
        <form action="{% url 'app:new_request' party.id %}" method="post">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" name="text" id="" style="margin-bottom:10px" />
          <input type="submit" class="btn btn-primary" value="Podnesi zahtjev" />
          {% csrf_token %}
        </form>
          {% elif party.partyguest_set.count >= party.total_allowed_guest %}
          <p style="font-size: 24px; font-weight: 600; color: red;">POPUNJENO!</p>
          {% else %}
          <p>Status zahtjeva: {{ party_request.status }}</p>
          {% if party_request.status == 'APPROVED' %}
          <p>Lokacija partya: {{ party.location }}</p>
          <form action="{% url 'app:deny_request' party.id %}" method="post">
            <input type="submit" class="btn btn-danger" value="Otkaži dolazak"/>
            {% csrf_token %}
          </form>
          {% endif %}
          {% endif %}
          {% else %}
          <p>
            <a href="{% url 'login' %}">Prijavi se</a> kako bi mogao pristupiti partiju
          </p>
          {% endif %}
      </div>
    </div>
  </div>
  {% if user == party.created_by %}
  <div class="p-2 flex-fill bd-highlight" style="max-width: 400px; margin:20px;">
    {% if numberOfPending %}
    {% for req in requests %}
    {% if req.status == 'PENDING' %}
    <div class="card" style="margin-bottom:20px">
      <a href="{% url 'app:profile' req.user_id.pk %}
			" style="padding-left:10px; font-size:30px;">{{ req.user_id.username }}</a>
      <p style="padding-left:10px;">{{ req.text }}</p>
      <form action="{% url 'app:requestDecision' req.id %}" method="post">
        <div class="d-flex justify-content-start">
          <input type="submit" class="btn btn-primary" name="decision" value="Odobri" style="margin:5px;" />
          <input type="submit" class="btn btn-danger" name="decision" value="Odbij" style="margin:5px;" />
          {% csrf_token %}
        </div>
      </form>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="card">
      <p style="font-size:20px;">Nema trenutno zahtjeva</p>
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}