{% extends 'app/base.html' %} {% block content %}
<div class="d-flex justify-content-center">
	<div class="p-2 flex-fill bd-highlight" style="max-width: 500px; margin:20px;">
		<div class="card">
			<img src="{{ party.party_poster_fk.party_url }}" class="card-img-top" alt="..." />
			<h2 class="card-title mt-2" style="margin-left: 10px">
				{{party.title}}
			</h2>
			<h3 class="card-tittle mt-2" style="margin-left: 10px;">Description:</h3>
			<div class="scrollable-div">
				<p>{{party.description}}</p>
			</div>
			<div class="card-body">
				<p class="card-text">
					<img class="rounded-circle" src="{{party.created_by.avatar_url}}" height="40px" width="40px" />
				<p>Host: <a href="{% url 'app:profile' party.created_by.id %}">
						{{party.created_by.first_name}} {{party.created_by.last_name}}
					</a></p>
				</p>
				<p>
					<i class="fa-solid fa-user-group"></i>
					{{party.partyguest_set.count}}/{{party.total_allowed_guest}}
				</p>
				<p>
					Party starts at:
					{{party.starts_at}}
					<br>
					Party closes at:
					{{party.closed_at}}
				</p>
				{% if party.is_finished %}
				<p style="font-weight: bold;">Party finished!<br>
					{% if user != party.created_by and user == guest.user_id %}Leave a recension:</p>
				{% if user.is_authenticated %}
				<form action="{% url 'app:new_recension' party.id %}" method="post" accept-charset="utf-8"
					style="margin:20px 0px 20px;">
					<div class="d-flex bd-highlight">
						<div class="p-0 flex-grow-1 bd-highlight">
							<input type="text" class="form-control" aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-default" name="text" id=""
								style="margin-bottom:10px" placeholder="Text">
						</div>
						<div class="p-1 bd-highlight"> </div>
						<div class="p-0 flex-grow-1 bd-highlight">
							<input type="number" class="form-control" aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-default" name="ocjena" id="" min="1" max="5"
								style="margin-bottom:10px" placeholder="Rating">
						</div>
					</div>
					<input type="submit" class="btn btn-primary" value="Rate">
					{% csrf_token %}
				</form>
				{% endif %}
				{% endif %}
				{% if recensions %}
				<h2>Recensions</h2>
				<ul>
					{% for recension in recensions %}
					<li>
						<p style="font-weight: bold;">{{ recension.user_id.username }}:</p> {{ recension.text }}
						<strong>(Rating: {{ recension.rating }})</strong>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<p>No recensions yet</p>
				{% endif %}
				{% else %}
				{% if user.is_authenticated %}
				{% if party.created_by == user %}
				<form action="{% url 'app:editParty' party.id %}" method="get">
					<input type="submit" class="btn btn-primary" name="uredi" value="Edit party" style="margin:5px;">
					{% csrf_token %}
				</form>
				{% elif not party_request and party.created_by != user and party.partyguest_set.count < party.total_allowed_guest %} 
				<form action="{% url 'app:new_request' party.id %}" method="post">
					<input type="text" class="form-control" aria-label="Sizing example input"
						aria-describedby="inputGroup-sizing-default" name="text" id="" style="margin-bottom:10px">
					<input type="submit" class="btn btn-primary" value="Send request">
					{% csrf_token %}
					</form>
					{% elif party.partyguest_set.count >= party.total_allowed_guest %}
					{% if party_request.status == "APPROVED" %}
					<p>Party location: {{ party.location}} </p>
					<form action="{% url 'app:deny_request' party.id %}" method="post">
						<input type="submit" class="btn btn-danger" value="Cancel arrival"/>
						{% csrf_token %}
					</form>
					{% endif %}
					<p style="font-size: 25px; font-weight: 600; color: red;">PARTY IS FULL!</p>
					{% else %}
					<p>Request status: {{party_request.status}}</p>
					{% if party_request.status == "APPROVED" %}
					<p>Party location: {{ party.location}} </p>
					{% endif %}
					{% endif %}
					{% else %}
					<p><a href="{% url 'login' %}">Login</a> if you want to join party</p>
					{% endif %}
					{% endif %}
			</div>
		</div>
	</div>
	{% if user == party.created_by %}
	<div class="p-2 flex-fill bd-highlight" style="max-width: 400px; margin:20px;">
		{% if party.partyguest_set.count < party.total_allowed_guest %}
		{% if numberOfPending %}
		{% for req in requests %}
		{% if req.status == "PENDING" %}
		<div class="card" style="margin-bottom:20px">
			<a href="{% url 'app:profile' req.user_id.pk %}
						" style="padding-left:10px; font-size:30px;">{{ req.user_id.username}}</a>
			<p style="padding-left:10px;">{{ req.text }}</p>
			<form action="{% url 'app:requestDecision' req.id %}" method="post">
				<div class="d-flex justify-content-start">
					<input type="submit" class="btn btn-primary" name="decision" value="Approve" style="margin:5px;">
					<input type="submit" class="btn btn-danger" name="decision" value="Decline" style="margin:5px;">
					{% csrf_token %}
				</div>
			</form>
		</div>
		{% endif %}
		{% endfor %}
		{% else %}
		<div class="card">
			<p style="font-size:20px;">No active requests</p>
		</div>
		{% endif %}
		{% endif %}
	</div>
	{% endif %}
</div>
{% endblock %}
