.jumbotron {
    color: white;
    background-image: url("https://cdn.wallpapersafari.com/93/57/Uy7zEv.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
}


.logout-btn {
    margin: 10px;
}

.login-btn {
    margin: 10px;
}

.signup-btn {
    margin: 10px;
}

.greeting {
    width: 80px;
    margin: 10px;
}